extend ../layout_header

block content
    .container
        br
        br
        .d-flex.justify-content-center.flex-sm-column.flex-md-row
            div
                img.rounded-circle(src="https:picsum.photos/150/150", alt="avt" width="100%")
            div.d-flex.align-items-center.flex-column.mt-2.ml-5
                div.d-flex.flex-sm-column.flex-md-row
                    div.mr-5.text-center
                        b khanh abc
                        p abc@gmail.com"              
                    div.d-flex.align-items-start
                        button.mr-2 Sửa trang cá nhân
                        button setting
                div.d-flex.justify-content-start
                    div 
                       a.nav-link.text-dark(href="#") Đã mua:
                            strong 24 
                    div 
                       a.nav-link.text-dark(href="#") Đang giao:
                            strong 24 


